{% extends "base.html" %}
{% block content %}
This is a helper for upload patrollers.
<ul class="list-group">
    <li class="list-group-item">
        <a href="/queue">Review file uploads</a>
    </li>
</ul>
{% endblock %}